* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/736x/aa/df/f9/aadff9120e8dc0b0b2bc8207eeedda66.jpg);
}

html {
    scroll-behavior: smooth;
}





.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(213, 132, 159);
    padding: 10px;
    height: 70px;
}

.left img {
    filter: brightness(0)invert(1);
    transform: scaleY(-1);
    width: 37px;
    height: auto;
    display: block;
    position: relative;
    bottom: 4px;
}

.left {
    color: rgb(247, 239, 223);
    font-family: 'Times New Roman';
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
}

.menu {
    font-style: italic;
    color: aliceblue;
    display: flex;
    text-align: right;
    padding-right: 10px;
    gap: 7px;
}

.menu a {
    color: white;
    font-size: large;
}

.menu button {
    color: #3e1a24;
    background-color: rgb(246, 209, 215);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 13px;
    width: 70px;
}

.menu button:hover {
    background-color: antiquewhite;
}





#logo {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    filter: brightness(0) invert(0.8);
}

.btn-warning{
    background-color: rgb(185, 118, 129) !important;
    border-color: pink !important;
    color: white !important;
}

.btn-warning:hover{
    background-color: rgb(182, 74, 128) !important;
    border-color: hotpink !important;
}

.btn-outline-warning{
    color: rgb(248, 157, 172) !important;
    border-color: pink !important;
}

.btn-outline-warning:hover{
    background-color: rgb(185, 118, 129) !important;
    border-color: pink !important;
    color: white !important;
}

.parallax {
    min-height: 70vh;
}




.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 30px;
}

.card {
    width: 300px;
    background-color: rgb(205, 145, 167);
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 1px;
    Transition: 0.70s;
}

.card:hover{
    transform: scale(1.1);
    border-radius: 30px;
}

.pp {
    margin-top: 10PX;
    margin-left: 10PX;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}

.card-content {
    background-color: rgb(245, 154, 169);
    padding: 16px;
}

.card-content h3 {
    font-size: 23px;
    margin-bottom: 8px;
}

.card-content p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 0 0 30px 30px;
}

.card h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-content button {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(242, 198, 211);
    text-decoration: none;
    border-radius: 20px;
    margin-top: 16px;
}

.card-content button:hover {
    background-color: antiquewhite;
}





.ac {
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ac input {
    border-radius: 30px;
    text-align: center;
}

.ac h1 {
    color: rgb(120, 48, 60);
}

.ac h2 {
    color: white;
}

#messaggio {
    height: 35px;
    line-height: 35px;
}

.ac button {
    border-radius: 10px;
    width: 54px;
    transition: 0.5s ease;
}

.ac button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}







footer {
  background-color: #6a252078;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
  text-decoration: underline;
}

.footer-copyright {
  background-color: rgba(160, 14, 14, 0.2);
}